basedomain: example.com

api:
  name: api
  port: 8080
  serviceType: NodePort
  domain: api

  tiller:
    host: tiller-deploy.kube-system.svc.cluster.local:44134

  image:
    registry: docker.io
    org: ultimateboy
    name: helm-ui
    tag: canary

    # ImagePullPolicy; valid values are "IfNotPresent" and "Always"
    pullPolicy: Always

frontend:
  name: frontend
  port: 2015
  serviceType: NodePort
  domain: frontend
  
  image:
    registry: docker.io
    org: ultimateboy
    name: helm-ui-frontend
    tag: canary

    # ImagePullPolicy; valid values are "IfNotPresent" and "Always"
    pullPolicy: Always