vendor/
rootfs/opt/helm-ui/sbin
.DS_Store

web/src/system-config.js*
web/src/app/**/*.js
web/src/app/**/*.map
web/node_modules
web/jspm_packages
web/bower_components
web/aot/*
web/dist/*
web/yarn.lock