
md-list-item {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
}
md-list-item:hover {
  background-color: #DDD;
  left: .1em;
}

span.name {
  padding: 0 0.8em 0 0.7em;
  left: -1px;
}

.delete:hover {
  color: red;
  left: 1px;
  cursor: pointer;
}
.delete {
  float:right !important;
  margin-left: 10em;
}