<div *ngIf="charts">
  <h2>Charts from {{ repo }}</h2>
  <md-input-container>
    <input mdInput placeholder="search" #myInput (input)="filterCharts(myInput.value)" />
    <span md-prefix>
      <i class="material-icons app-input-icon">search</i>
      &nbsp;
    </span>
  </md-input-container>

  <md-card class="app-input-section" *ngFor="let chart of filtered">
    <md-card-content>
      <span class="badge">{{chart.name }}</span>
      <span><img src="{{chart.icon}}" /></span>
      <span>{{ chart.description }} </span>
      <chart-releases [repoName]="repo" [chartName]="chart.name"></chart-releases>
    </md-card-content>
  </md-card>

  <button md-button (click)="goBack()">
    <md-icon>arrow_back</md-icon>
  </button>
</div>