

  <h3>Chart Repositories</h3>

    <md-input-container>
      <input mdInput #repoName placeholder="Name" />
    </md-input-container>
    <md-input-container>
      <input mdInput #repoUrl placeholder="URL" />
    </md-input-container>
    <button (click)="add(repoName.value, repoUrl.value); repoName.value=''; repoUrl.value=''" class="app-button" md-button>
      <md-icon>add</md-icon>
    </button>

    <md-card>
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let repo of repos"
              (click)="gotoDetail(repo)">
            <span class="name">{{repo.name}}</span>
            <span class="url">{{repo.url}}</span>
            <md-icon class="delete" (click)="$event.stopPropagation(); delete(repo.name);">delete</md-icon>   
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <button md-button (click)="goBack()">
      <md-icon>arrow_back</md-icon>
    </button>

