
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 60em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: antiquewhite;
  margin: .5em;
  padding: .3em 0;
  height: auto;
  border-radius: 4px;
}

.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 10em;
}

.heroes .badge img {
  width: 200px;

}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button.install {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
  height: auto;
}

.install:hover {
  left: 1em;
  background-color: green !important;
}

span.badge {
  float: left;
}

div.chart-releases {
  height: auto !important;
  overflow: auto;
}