<h3>Stored Chart Repositories</h3>

<div>
  <label>Repo name:</label> <input #repoName />
  <label>Repo URL:</label> <input #repoUrl />
  <button (click)="add(repoName.value, repoUrl.value); repoName.value=''; repoUrl.value=''">
    Add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let repo of repos" (click)="gotoDetail(repo)">
    <span class="badge">{{repo.name}}</span>
    <span>{{repo.url}}</span>
    <button class="delete"
      (click)="$event.stopPropagation(); delete(repo.name);">x</button>
  </li>
</ul>
