div.comp-bar {
  display: block;
  width: 18em;
  min-height: 0.7em;
}

div.comp-bar div {
  display: inline-block;
  min-height: 0.7em;
}

div.ingress {
  background-color: green;
}
div.configmap {
  background-color: blue;
}
div.service {
  background-color: red;
}
div.deployment {
  background-color: purple;
}
div.persistentvolumeclaim {
  background-color: pink;
}
div.secret {
  background-color: black;
}