
h3 {
  display: inline-block;
  color: black;
  line-height: 1em;
  position: relative;
  height: 1.8em;
  font-size: 1.4em;
}

md-card-content {
  padding: 0.8em 0.7em 0 0.7em;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}